<div class="container page-content">
  <div class="row">
    <div class="col m12">
      <%= render "shared/global/return-btn" , url: clubs_path(), title: "retour à la liste des membres"  %>
    </div>
    <div class="col m11">
      <h1>Modifier la liste des membres</h1>
    </div>
  </div>
  <div class="row-fluid">
      <%= render "shared/club/club_form"%>
  </div>
</div>
