<div class="col s12 m12 l12">
  <h1>Les sorties du mois</h1>
</div>
<div class="row show-on-medium-and-down">
  <div class="col m2"></div>
  <div class="col m8 exit-month-image small">
      <%= image_tag "road-sport-pxhere" %>
  </div>
</div>
<div class="row">
  <div class="exit-month-table col s11 m11 l6">
    <%= render "shared/home/exits/table_exits" %>
  </div>
  <div class="exit-month-image hide-on-med-and-down col l6">
    <%= image_tag "road-sport-pxhere" %>
  </div>
</div>
