<div class="container page-content">
  <div class="row">
    <div class="col m10">
      <h1>Sorties à venir</h1>
    </div>
    <% if current_user && current_user.admin == true %>
      <div class="col m2 l2 hide-on-small-only">
        <%= render "shared/global/action-btn" , url: 'exits/new', title:'Ajouter'  %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @exits.each do |exit| %>
      <% if exit.date >= Date.today %>
        <%= render "shared/exit/cards", exit: exit %>
      <%end%>
    <% end %>
  </div>
  <div class="row">
    <div class="col m12">
      <%= paginate @exits, theme: ''%>
    </div>
  </div>
</div>
