<div class="container page-content">
  <div class="row">
    <div class="col m10">
      <h1>Sorties à venir</h1>
    </div>
    <div class="col m2">
      <%= render "shared/global/action-btn" , url: 'exits/new', title:'Ajouter'  %>
    </div>
  </div>
  <div class="row">
    <% @exits.each do |exit| %>
      <% if exit.date >= Date.today %>
        <%= render "shared/exit/cards", exit: exit %>
      <%end%>
    <% end %>
  </div>
  <div class="row">
    <div class="col m12">
      <%= paginate @exits, theme: ''%>
    </div>
  </div>
</div>
