<div class="container">
  <div class="row">
    <div class="col m12">
      <%= render "shared/return-btn" , url: exits_path(), title: "retour aux sorties"  %>
    </div>
    <div class="col m11">
      <h1>Ajouter une sortie</h1>
    </div>
  </div>
  <div class="row-fluid">
      <%= render "shared/exit_form"%>
  </div>
</div>
