<%= form_for @account  do |f| %>
  <div class="field">
    <%= f.label :mail %>
    <%= f.text_area :mail %>
  </div>
  <div class="actions">
    <%= f.submit "Ajouter le membre", class:"waves-effect waves-light btn" %>
  </div>
<% end %>
