<footer class="page-footer">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Facebook</h5>
         <p class="grey-text text-lighten-4">Vous pouvez nous suivre sur notre page facebook :</p>
         <ul>
           <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/www.veloclubgrangeois.fr/">Vélo Club Grangeois VCG</a></li>
         </ul>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Les sites des fédérations</h5>
         <ul>
           <li><a class="grey-text text-lighten-3" href="https://ffvelo.fr/">Le site de la FFCT</a></li>
           <li><a class="grey-text text-lighten-3" href="https://www.ffc.fr/">Le site de la FFC</a></li>
         </ul>
         <h5 class="white-text">Les sites de vente</h5>
         <ul>
           <li><a class="grey-text text-lighten-3" href="https://www.sergedutouron.com/">Dutouron</a></li>
           <li><a class="grey-text text-lighten-3" href="https://www.alltricks.fr/">Alltricks</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2018 Copyright : Vélo Club Grangeois
     <%= link_to "Mentions légales", mentions_path, class: "grey-text text-lighten-4 right"%>
     </div>
   </div>
 </footer>
