<div class="container">
  <div class="row">
    <div class="col m12">
      <%= render "shared/return-btn" , url: '/articles', title: "retour aux articles"  %>
    </div>
    <div class="col m11">
      <h1>Modifier un article</h1>
    </div>
  </div>
  <div class="row-fluid">
      <%= render "shared/article_form", data: @article %>
  </div>
</div>
