<div class="container">
  <div class="row">
    <div class="col m12">
      <%= render "shared/global/return-btn" , url: '/articles', title: "retour aux articles"  %>
    </div>
    <div class="col m11">
      <h1>Créer un nouvel article</h1>
    </div>
  </div>
  <div class="row-fluid">
      <%= render "shared/article/article_form" %>
  </div>
</div>
