<div class="album_carousel carousel carousel-slider center">
  <div class="carousel-item white-text" href="#one!">
    <%= image_tag @picture.image_one.url, class:"image_album", alt:"Image album : #{@picture.image_one}" %>
  </div>
  <div class="carousel-item white-text" href="#two!">
    <%= image_tag @picture.image_two.url, class:"image_album", alt:"Image album : #{@picture.image_two}" %>
  </div>
  <div class="carousel-item white-text" href="#three!">
    <%= image_tag @picture.image_three.url, class:"image_album", alt:"Image album : #{@picture.image_three}" %>
  </div>
  <div class="carousel-item white-text" href="#four!">
    <%= image_tag @picture.image_four.url, class:"image_album", alt:"Image album : #{@picture.image_four}" %>
  </div>
</div>
