<div class="row album">
  <div class="row">
    <h1bis>Les photos du moment</h1bis>
    <% if current_user && current_user.admin == true %>
      <%= render "shared/global/action-btn" , url: 'pictures/1/edit', title:'Mettre à jour'  %>
    <% end %>
  </div>
  <%= render "shared/home/photo_of_moment/albums_large_version" %>
  <%= render "shared/home/photo_of_moment/albums_small_version" %>
  <div class="row button-album">
    <div class="col s3 m4 l5"></div>
    <div class="col s6 m4 l2">
      <%= link_to root_path, class:"btn waves-effect grey-text darken-text-2" do %>Voir les photos<% end %>
    </div>
  </div>
</div>
