<div class="container page-content">
  <div class="row">
    <div class="col m12">
      <%= render "shared/global/return-btn" , url: stocks_path(), title: "retour à la liste des vêtements"  %>
    </div>
    <div class="col m11">
      <h1>Ajouter un vêtement</h1>
    </div>
  </div>
  <div class="row-fluid">
    <%= render 'shared/stock/add_stock_form', type_action: "new"%>
  </div>
</div>
