<div class="container-fluid page-content">
  <div class="row">
    <div class="col s0 m1 l1"></div>
    <div class="col s11 m10 l10">
      <%= render "shared/global/return-btn", url: "/accounts", title: "Retour à la liste des membres autorisés" %>
      <div class="row">
        <h1>Mettre à jour un compte</h1>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <%= render "shared/user/edit_account" %>
      </div>
    </div>
  </div>
</div>
