<div class="container page-content album_page">
  <div class="row">
    <div class="col s11 m11 l11">
      <h1>Mettre à jour le membre</h1>
    </div>
  </div>
  <div class="row">
    <p>Si vous modifiez l'adresse mail d'un utilisateur une nouvelle invitation lui sera automatiquement envoyée.</p>
  </div>
  <div class="row">
    <%= render "shared/user/edit_user" %>
  </div>
</div>
