<div class="container page-content album_page">
  <div class="row">
    <div class="row">
      <div class="col m10">
        <%= render "shared/global/return-btn", url: "/users/#{@user.id}", title: "Retour à mes informations" %>
      </div>
    </div>
    <div class="col s11 m11 l11">
      <h1>Mettre à jour le membre</h1>
    </div>
  </div>
  <div class="row">
    <%= render "shared/user/edit_user" %>
  </div>
  <div class="row">
    <div class="col s11 m11 l11">
      <h1>Changer mon mot de passe</h1>
    </div>
    <div class="col s12 m12 l12">
      <%= render "shared/user/change_password" %>
    </div>
  </div>
</div>
