<!-- <div class="row col m12 fix-presentation">
  <div class="col m3 logo">
    <%= image_tag "granges" %>
  </div>
  <div class="col m9">
  </div>
</div>
<div class="row col m12 presentation">
  <div class="col m12 image-presentation">
    <%= image_tag "presentation" %>
  </div>
  <div class="col m2 panneau">
    <%= image_tag "panneau" %>
  </div>
</div> -->
