.container-fluid.home.page-content
  .row-fluid
    = render "slider_articles"
  .row-fluid.exits-month
    = render "exits_of_month"
  .row-fluid.photos-moment
    = render "photos_of_moment"
  - if @stocks.size > 0
    .row-fluid.stocks-promo
      = render "shared/home/stocks/stocks"
