<div class="container-fluid home">
  <div class="row-fluid">
    <%= render "shared/home/slider_articles"%>
  </div>
  <div class="row-fluid exits-month">
    <%= render "shared/home/exits_of_month" %>
  </div>
  <div class="row-fluid photos-moment">
    <%= render "shared/home/photos_of_moment" %>
  </div>
</div>
