<div class="container">
  <div class="row">
    <div class="col m12">
      <%= render "shared/global/return-btn" , url: root_path(), title: "retour à la page d'accueil"  %>
    </div>
    <div class="col m11">
      <h1>Ajouter les images de la page d'accueil</h1>
    </div>
  </div>
  <div class="row-fluid">
    <%= render 'shared/home/home_pictures_form'%>
  </div>
</div>
