/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require jquery-ui
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 *= require_tree .

 */
@import "materialize";
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "variables.scss";


 //GENRAL
 html{
   font-family: "Roboto","Helvetica","Arial",sans-serif;
   font-size: 18px;
 }

 .page-content {
   margin-top: 76px;
   z-index: 0;
 }

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

//navbar

nav{
  position: fixed;
  background-color: white;
  height: 75px;
  border-bottom: 10px solid $club-jaune;
  top: 0;
  z-index: 200;
}

nav ul.left{
  width: 35% !important;
  margin-left: 25px !important;
}

nav ul.right{
  width: 35% !important;
  margin-right: 25px !important;
}

@media all and (min-width: 993px){
  a.brand-logo.center{
    width: 20% !important;
  }
}

@media all and (max-width: 992px){
  a.brand-logo.center{
    left: 120px !important;

  }
  img.logo{
    max-height: 65px;
    margin-top: 5px;
  }
}

nav li{
  width: 33%;
}

nav li a{
  color: #000;
  text-align: center;
}

@media all and (min-width: 1161px){
  nav li a{
    font-size: 18px;
  }
}

@media all and (max-width: 1160px){
  nav li a{
    font-size: 16px;
  }
}

//navbar mobile
nav .sidenav-trigger{
  float: right !important;
  margin-right: 20px;
}

nav .sidenav-trigger i{
  color: black;
}

.nav-wrapper i.material-icons{
  background-color: inherit;
}

//checkbox formulaire
[type="checkbox"]:not(:checked), [type="checkbox"]:checked,[type="radio"]:not(:checked), [type="radio"]:checked{
  opacity: 1;
  pointer-events: auto;
  margin-top: 9px;
  margin-left: 10px;
}

//material-icon

i.material-icons{
  background-color: $club-bleu;
}

//footer
.page-footer{
  background-color: #1b7dab;
}

//bouton
.waves-effect.waves-light.btn{
  background-color: $club-bleu;
}

div.actions > i.waves-effect.waves-light.btn.waves-input-wrapper{
  background-color: $club-bleu;
  cursor: pointer;
}

div.actions > i.waves-effect.waves-light.btn.waves-input-wrapper input{
  color: white;
  cursor: pointer;
}


//pagination
.pagination i.material-icons{
  background-color: inherit;
}

.pagination li.active a{
  background-color: $club-bleu;
}
