// Place all the styles related to the club controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";



.waves-effect.waves-light.btn,.waves-effect.waves-light.btn-large,.waves-effect.waves-light.btn-small{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add.waves-effect.waves-light.btn,.waves-effect.waves-light.btn-large,.waves-effect.waves-light.btn-small{
  margin-top: 20px;
}

.error{
  color: red;
  font-style: italic;
  font-size: 14px;
}

.club_table td{
  padding: 0px;
}

.center{
  text-align: center;
}

.content{
  margin: 20px;
}

.club_table .btn-action{
  background-color: inherit !important;
  box-shadow: none;
}

.club_table i.material-icons{
  color: $club-bleu;
}

td.table-btn{
  padding: 0px;
}

.life-club .content .btn-action{
  background-color: inherit !important;
  box-shadow: none;
  margin:0px !important;
}

.life-club .content .btn-action i.material-icons{
  color: $club-bleu !important;
}

.life-club .report{
  vertical-align: text-top;
}

.life-club .content{
  padding: 5px 20px 5px 20px;
}

.member-club{
  padding-left: 20px !important;
  padding-right: 40px !important;
}

.report-title{
  height: 56px;
  padding-top:10px !important;
  padding-left: 20px;
}

.report-document{
  height: 35px !important;
}

.club_table i{
  background-color: inherit !important;
}

.row.report{
  margin-bottom: 0px !important;
  border-bottom: 0.3px solid $club-bleu;
}

hr{
  border: 0.3px solid $club-bleu;
}

.inline{
  display: inline-block;
}

.member-club .avatar img{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.member-club .avatar{
  padding: 20px;
}

.member-club{
  background-color: #f1f0f1;
  text-align: center;
  padding: 15px !important;
  margin: 15px;

  a.btn-floating.btn-large {
    width: 29px;
  }
}

@media all and (min-width: 1300px){
  .member-club{
    width: 30%;
  }
}

@media all and (min-width: 550px) and (max-width: 1299px){
  .member-club{
    width: 40%;
  }
}

@media all and (max-width: 549px){
  .member-club{
    width: 80%;
  }
}

.member-club .title{
  text-transform: uppercase;
  margin-top: 50px;
}

.member-club .name{
  font-weight: bold;
}

.member-club .info{
  font-size: 16px;
}

.member-club i{
  background-color: inherit !important;
  color: $club-bleu !important;
  line-height: 40px !important;
  text-align: right;
}

.member-club .row.icon div{
  height: 0px;
}

.member-club .waves-effect.waves-light.btn,.member-club .waves-effect.waves-light.btn-large,.member-club .waves-effect.waves-light.btn-small{
  background-color: inherit !important;
  box-shadow: none !important;
  margin: 0px !important;
}

.field.checkbox.avatar img{
  width: 128px;
  height: 128px;
}

.presentation_club{
  padding: 15px 40px 15px 40px;
}
