// Place all the styles related to the club controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.waves-effect.waves-light.btn,.waves-effect.waves-light.btn-large,.waves-effect.waves-light.btn-small{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add.waves-effect.waves-light.btn,.waves-effect.waves-light.btn-large,.waves-effect.waves-light.btn-small{
  margin-top: 20px;
}
