// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables.scss';

.hidden{
  visibility: hidden;
  display: none;
}

textarea#contact_message{
  height: 200px;
}

.undertitle{
  font-size: 22px;
  font-style: italic;
  text-align: center;
  color: $club-bleu;
}

.contactForm input.btn.btn-primary{
  background-color: $club-bleu;
}
