// Place all the styles related to the Exits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon{
  color: white;
}
.card-action{
  color: white;
}
.info-title{
  text-align: left;
}
.info{
  text-align: center;
}
.no_bg_color > .btn-action.btn-floating.btn-large.waves-effect.waves-light.right{
  background-color: inherit !important;
  box-shadow: none !important;
}
