@import "variables.scss";

// carousel---- articles

div.articles_carousel.carousel.carousel-slider.center{
  max-height: 500px !important;
  background-color: black;
}

div.articles_carousel .carousel-title, div.articles_carousel .carousel-resume{
  position: absolute;
  width: 100%;
  z-index: 250;
}

.articles_carousel.carousel.carousel-slider .carousel-item h2{
  font-size: 2rem;
  font-family: 'Open-Sans';
  text-align: center;
}

.articles_carousel.carousel.carousel-slider .carousel-item p{
  margin-top: 250px;
  font-size: 1rem;
  font-family: 'Open-Sans';
  text-align: center;
}

div.articles_carousel a {
  color: inherit;
  background-color: white;
}

.articles_carousel.carousel.carousel-slider .carousel-item img{
  opacity: 0.7;
  z-index: 200;
}

//exits of the current month

div.exit-month-image img{
  width: 100%;
  padding: 40px 40px 0px 40px;
}

@media all and (min-width: 993px){
  div.show-on-medium-and-down{
    display: none;
  }
}

@media all and (min-width: 993px){
  div.exit-month-image.small img{
    visibility: hidden !important;
    height: 0px !important;
  }
}

div.exit-month-table table{
  margin: 25px;
}

div.exit-month-table table th{
  padding-left: 20px;
  text-transform: uppercase;
}

div.exit-month-table table td{
  padding: 20px;
}



//photo presentation
div.album{
  background-color: $club-bleu;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media all and (max-width: 790px){
  div.photos{
    visibility: hidden;
    height: 0px;
  }
}

@media all and (min-width: 1369px){
  div.photos{
    padding: 25px;
    height: 600px;
  }
}

@media all and (min-width: 791px) and (max-width: 1369px){
  div.photos{
    padding: 25px;
    height: 450px;
  }
}

div.photos .large{
  overflow: hidden;
  padding: 0px;
}

div.large{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media all and (min-width: 1012px){
  div.large img{
    width: 100%;
  }
}

@media all and (max-width: 1011px){
  div.large img{
    height: 100%;
  }
}

div.small{
  height: 100%;
  padding: 0px !important;
}

// @media all and (max-width: 1110px){
//   div.small-image{
//     margin-top: -27px;
//   }
// }


div.small-image{
  max-height: 33.33%;
  overflow: hidden;
  width: 100%;

}

div.small-image img{
  width: 100%;
}

@media all and (max-width: 791px){
  div.carousel-item{
    overflow: hidden !important;
  }
}

@media all and (max-width: 791px){
  div.album_carousel.carousel.carousel-slider.center img{
    height: 100% !important;
    width: auto;
  }
}

@media all and (min-width: 791px){
  div.album_carousel.carousel.carousel-slider.center{
    visibility: hidden !important;
    height: 0px !important;
  }
}

@media all and (min-width: 1111px){
  div.album a{
    width: 100%;
    text-align: center;
    color: grey;
    background-color: white;
  }
}

@media all and (max-width: 1110px){
  div.album a{
    width: 120%;
    text-align: center;
    color: grey;
    background-color: white;
  }
}

div.album a:hover, div.articles_carousel a:hover{
  background-color: $club-jaune;
}

div.album div.large:hover, div.album div.small-image:hover{
  border:3px solid white;
  cursor: pointer;
}

div.modal.open{
  height: 80% !important;
  width: 90% !important;
}

div.modal{
  max-height: 90% !important;
	float:left;
  margin-right:auto;
	margin-left:auto;
  padding-top: 2%;
	text-align:center;
	overflow:hidden;
}

div.modal.open img.image_modal{
  height: 90%;
}

div.album a.btn-action{
  position: absolute;
  right: 20px;
  margin-top: 0px !important;
}

div.album i{
  background-color: white;
  color: $club-bleu;
}

//stocks promotion
.cell-content-stock {
  float:left;
  width: 100%;
  margin-right:auto;
	margin-left:auto;
	text-align:center;
	overflow:hidden;
  background-color: #f1f0f1;
}

.cell-content-stock:hover{
  cursor: pointer;
}

.title-stock{
  position: relative;
  z-index: 100;
  background-color: $club-jaune;
  padding: 15px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.cell-content-stock img{
  position: relative;
  z-index: 5;
  margin-top: 2%;
  //width: 70%;
  height: 70%;
}

.calque-stock{
  background-color: $club-bleu;
  opacity: 0.9;
  z-index: 200;
  position: absolute;
  display: none;
  width: 100%;
  margin-right:auto;
	margin-left:auto;
	text-align:center;
	overflow:hidden;
}

.title-calque-stock{
  position: absolute;
  z-index: 250;
  color: white;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  width: 100%;
  margin-top: 47%;
  font-weight: bold;
  font-size: 22px;
}
