// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";

.stock-card .card{
  height: 700px;
}

.stock-card .card .card-action a{
  color: white !important;
}

.stock-card div.card-action{
  background-color: $club-bleu !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.stock-card > div.card-content{
  text-align: right;
  margin-bottom: 25px;
}

.stock-card > span.card-title{
  color: black !important;
  background-color: #f1f0f1;
}

.stock-card > .card .card-image .card-title{
  left: 20px;
}

h4{
  color: black !important;
  text-align: center;
  font-size: 1.6em !important;
  font-weight: bold;
  margin-bottom: 20px;
}

.info_update{
  text-align: right;
  font-style: italic;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}

div.promotion{
  padding: 20px;
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.cell-stock{
  margin-bottom: 25px;
}

.stock-images{
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.stock-front{
  height: 100%;
  width: 100%;
	overflow:hidden;
}

.stock-back{
  height: 100%;
  width: 100%;
  overflow:hidden;
}

.stock-front img, .stock-back img{
  height: 75%;
  margin-right:auto;
	margin-left:auto;
	text-align:center;
}

.card .card-image img{
  width: auto !important;
}
