// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";

.stock-card > div.card-action > a{
  color: $club-bleu !important;
}

.stock-card > div.card-content{
  text-align: right;
}

.stock-card > span.card-title{
  color: black !important;
  background-color: #f1f0f1;
}

.stock-card > .card .card-image .card-title{
  left: 20px;
}

h4{
  color: black !important;
  text-align: center;
  font-size: 1.6em !important;
  font-weight: bold;
  margin-bottom: 20px;
}

.info_update{
  text-align: right;
  font-style: italic;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}
