<div class="container page-content">
  <div class="row">
    <div class="col m12">
      <%= render "shared/global/return-btn" , url: clubs_path(), title: "retour à la vie du club"  %>
    </div>
    <div class="col m11">
      <h1>Modifier le compte-rendu</h1>
    </div>
  </div>
  <div class="row-fluid">
    <%= render 'shared/report/add_report_form', type_action: "edit"%>
  </div>
</div>
