%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Facebook
        %p.grey-text.text-lighten-4 Vous pouvez nous suivre sur notre page facebook :
        %ul
          %li
            %a.grey-text.text-lighten-3{href: "https://www.facebook.com/www.veloclubgrangeois.fr"} Vélo Club Grangeois VCG
      .col.l4.offset-l2.s12
        %h5.white-text Les sites des fédérations
        %ul
          %li
            %a.grey-text.text-lighten-3{href: "https://ffvelo.fr"} Le site de la FFCT
          %li
            %a.grey-text.text-lighten-3{href: "https://www.ffc.fr"} Le site de la FFC
        %h5.white-text Les sites de vente
        %ul
          %li
            %a.grey-text.text-lighten-3{href: "https://www.sergedutouron.com"} Dutouron
          %li
            %a.grey-text.text-lighten-3{href: "https://www.alltricks.fr"} Alltricks
  .footer-copyright
    .container
      © 2018 Copyright : Vélo Club Grangeois
      = link_to("Mentions légales", mentions_path, class: "grey-text text-lighten-4 right")