<div>Une personne vous a contacté via le formulaire de contact de : http://www.veloclubgrangeois.fr</div>
----------------------------------
<div>Expéditeur : <%= @contact.name %></div>
-----------------------------------
<div>Email de contact : <%= @contact.email %></div>
-----------------------------------
<div>Message :</div>

<%= @contact.message %>

-----------------------------------
<div>Envoyé à <%= Time.now.to_s %></div>
